name: Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lua-test:
    name: Lua Tests

    runs-on: ubuntu-latest

    strategy:
      matrix:
        nvim-versions: ["stable", "nightly", "v0.8.3"]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.nvim-versions }}

      - name: Setup ‘lua’
        uses: leafo/gh-actions-lua@v8
        with:
          luaVersion: "5.1.5"

      - name: Setup ‘luarocks’
        uses: leafo/gh-actions-luarocks@v4

      - name: Install dependencies
        run: make prepare

      - name: Setup Treesitter
        run: |
          mkdir -p ~/.local/share/nvim/site/pack/vendor/start
          git clone --depth 1 https://github.com/nvim-treesitter/nvim-treesitter.git ~/.local/share/nvim/site/pack/vendor/start/nvim-treesitter
          ln -s $(pwd) ~/.local/share/nvim/site/pack/vendor/start

      - name: Compile parsers
        run: nvim --headless -c "packadd nvim-treesitter" -c "TSInstallSync devicetree" -c "q"

      - name: Run linter
        run: make lint

      - name: Run tests
        run: make test

  ts-test:
    name: Typescript Tests

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn --immutable
      - run: yarn run checks
